@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

@font-face {
  font-family: stolzl-100;
  src: url(../public/assets/fonts/Stolzl-100.ttf);
}

@font-face {
  font-family: stolzl-300;
  src: url(../public/assets/fonts/stolzl_300.otf);
}

@font-face {
  font-family: stolzl-400;
  src: url(../public/assets/fonts/stolzl_400.otf);
}

@font-face {
  font-family: stolzl-500;
  src: url(../public/assets/fonts/stolzl_500.otf);
}

@font-face {
  font-family: stolzl-700;
  src: url(../public/assets/fonts/stolzl_700.otf);
}

.stolzl-100 {
  font-family: stolzl-100;
  font-weight: 100;
}

.stolzl-300 {
  font-family: stolzl-300;
  font-weight: 300;
}

.stolzl-400 {
  font-family: stolzl-400;
  font-weight: 400;
}

.stolzl-500 {
  font-family: stolzl-500;
}

.stolzl-700 {
  font-family: stolzl-700;
  font-weight: 700;
}

.secondary-text {
  color: #96718e;
}

.main-text {
  color: #ffffff;
}

body {
  /* background-image: url('/my-website/src/asstes/images/main-bg.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #05051b;
}
/* .overlaym{


  background: url("../public/assets/images/overlay.png");

 
} */
.overlay000bg {
  top: 0;
  left: 0;
  width: 100%;

  background: url("../public/assets/images/bg-branding.png");
  background-size: cover;
  /* background-position:0px 1150px;; Center the image */
  opacity: 0.9;
  height: 900px;
  padding: 130px;
  margin-top: -180px;
  mix-blend-mode: color-burn;
  backdrop-filter: inherit;
  background-position-y: 1150px;
  margin-bottom: -180px;
}

.button-gradient {
  width: 220px;
  font-size: 18px;
  /* background-color:  linear-gradient(rgba(199, 0, 98, 1)
, rgba(255, 138, 0, 1)
); */
  background: rgb(199, 0, 98);
  background: linear-gradient(
    324deg,
    rgba(199, 0, 98, 1) 0%,
    rgba(255, 138, 0, 1) 100%
  );
}

/* body {
  background-image: url(../public/assets/images/complete-bg.png);

  height: "680px";
  background-position: center;
  padding-top: "10px";
  background-repeat: no-repeat;
  border-radius: " 30px";
} */

.text-color {
  color: #ce1057;
}
.bg-img {
  background-image: url("../public/assets/images/our-game.png");
  background-size: cover;
}

/* .bg-creative{

  background-image: url('../src/asstes/images/bg-color.png');
  background-size: cover;
} */

/* .bg-second{
  background-image: url(./asstes/images/main-bg-banner.png);
  background-size: cover;
  background-position: center;background-repeat: no-repeat; border-radius: 30px; 
 
} */
.bg-third {
  background-image: url("../public/assets/images/third-bg-main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 05%;
  padding-bottom: 02%;
}

.footer-bg {
  background-image: url(../public/assets/images/footer-main.png);
  background-size: cover;
}

.bg-upfooter {
  background-image: url(../public/assets/images/fotter-up1.png);
  background-size: cover;
}

.bg-main0 {
  background-image: url(../public/assets/images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
}

.second-section {
  background-image: url(../public/assets/images/main-bg-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 100%;

  margin: 0;
}

.one-section {
  background: url("../public/assets/images/banner-bg.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 850px;
}

.gameimage {
  mix-blend-mode: lighten;
}
.imgwe {
  mix-blend-mode:lighten;
}

.bg-upfootertest {
  background-image: url(../public/assets/images/test-appdevllastfooter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vertical-timeline-element-content {
  position: relative;
  /* margin-left: 60px; */
  /* background: #fff; */
  border-radius: 0.25em;
  padding: 10em;
  /* -webkit-box-shadow: 0 3px 0 #ddd; */
  /* box-shadow: 0 3px 0 #ddd; */
}

/* app-developement- CSS */

.bg-home-app {
  background-image: url("../public/assets/images/appdevelopment-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
}

.vertical-timeline-element-content {
  background: none !important ;
  border-bottom: none !important;
  box-shadow: none;
}

.vertical-timeline-element-content-arrow {
  border: none !important;
}

.bgabout {
  background-image: url(../public/assets/images/about.png.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.vertical-timeline--two-columns .vertical-timeline-element-icon {
  width: 83px !important;
  height: 37px !important;
  left: 50% !important;
  margin-left: -39px !important;
  border-radius: 30px !important;
  border: none !important;
  background: #ce1057;
}

.vertical-timeline-element-icon {
  position: absolute !important ;
  top: 0 !important;
  left: 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 70% !important;
  border: none !important;
  /* -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05); */
  /* box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05); */
}

.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  /* position: absolute; */
  /* width: 100%; */

  top: 6px !important;
  font-size: 16px !important;
  font-size: 1rem !important;
}

.font-size-main {
  font-size: 60px;
}

.home-text {
  font-size: 45px;
}


/* backgroud for all banner images */

.bg-about {
  /* background-image: url(../public/assets/images/about-bg00.png); */

  height: 77%;
  margin-top: -230px;
  padding-top: 260px;
  mix-blend-mode: fill;
  background-position: 200px -390px;
  z-index: -100;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  left: 50% !important;
  margin-left: -1px !important;
  height: 81% !important;
}

.bg-mobileApps {
  background-image: url(../public/assets/images/ui-ux-bg-light.png);
  background-size: cover;
  height: 57%;
  margin-top: -190px;
  padding-top: 260px;
  margin-bottom: 100px;
  mix-blend-mode: lighten;
  background-position: top;
  z-index: -100;
  position: relative;
}

.bg-mobilegame {
  /* background-image: url(../public/assets/images/gamedevloepment-bgmain.svg); */
  background-size: cover;
  height: 69%;
  margin-top: -190px;
  padding-top: 260px;
  margin-bottom: 100px;
  background-position: center;
  z-index: -100;
  position: relative;
  mix-blend-mode: lighten;
  background-position-x: 160px;
}

.bg-mobileuxui {
  background-image: url(../public/assets/images/ui-ux-bg-light.png);
  background-size: cover;
  height: 57%;
  margin-top: -190px;
  padding-top: 260px;
  margin-bottom: 100px;
  mix-blend-mode: lighten;
  background-position: center;
  z-index: -100;
  position: relative;
}

.vertical-timeline-element-content {
  border: none !important;
  box-shadow: none !important;
}
.vertical-timeline-element-content,
.vertical-timeline-element-content * {
  border: none !important;
  box-shadow: none !important;
}

.vertical-timeline::before {
  content: "";
  position: absolute !important;
  top: 38px !important;
  left: 18px !important;
  height: 100% !important;
  width: 4px !important;
  background: var(--line-color) !important;
}

.active-link {
  color: #ce1057 !important;
}

.bg-secondsection {
  background-image: url(/public/assets/images/main-bg-banner.png);
  background-size: cover;
  height: 800px;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ce1057;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e50859;
}







.aboutoverlaybg {
  top: 0;
  left: 0;
  width: 100%;
  background: url("../public/assets/images/about-bgg.png");
  background-size: cover;
  /* background-position:0px 1150px;; Center the image */
  opacity: 1 !important;
  height: 850px;
  padding: 130px;
  margin-top: -155px;
  margin-bottom: -80px;
  background-position-x: bottom;
   background-position-x: bottom;
  z-index: -10;
  position: relative;
}
.carreroverlaybg {
  top: 0;
  left: 0;
  width: 100%;
  background: url("../public/assets/images/about-bgg.png");
  background-size: cover;
  /* background-position:0px 1150px;; Center the image */
  opacity: 1;
  height: 850px;
  padding: 130px;
  margin-top: -155px;
  margin-bottom: 30px;
  background-position: bottom;
  z-index: -10;
  position: relative;
}


.bgr{
background-image: url(/public/assets/images/game-rightside.png);
background-size:cover;
background-position-x:300px;
background-position-y: -50px;
}

.bg-thirdsection{
  background-image: url(/public/assets/images/third-bg-main.png);
  background-size: cover;
  height: 800px;
}

.bg-mainsection{
  background-image: url(/public/assets/images/bg-main-0001.png);
  background-size: cover;
  height: 890px;
  margin-top: -150px;
  background-position: center;
  position: relative;
  z-index: -90;

}

.about-bg{
  background-image: url(/public/assets/images/about-bg-photoshop.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: bottom;
  position: relative;
  z-index: -90;
  opacity: 1;

}
.app-bg{
  background-image: url(/public/assets/images/app-deve-photo.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: bottom;
  background-position-x: 290px;
  position: relative;
  z-index: -90;
  
}
.game-bg{
  background-image: url(/public/assets/images/game-bg-photoshop.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: bottom;
  position: relative;
  z-index: -90;
}
.cloud-bg{
  background-image: url(/public/assets/images/cloudbgbackground-001.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: bottom;
  position: relative;
  z-index: -90;
}
.ux-bg{
  background-image: url(/public/assets/images/uiuxbg-photoshop.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: center;
  position: relative;
  z-index: -90;
}
.gameing-branding-bg{
  background-image: url(/public/assets/images/gamebranding-photoshop.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: top;
  position: relative;
  z-index: -90;
  background-repeat: no-repeat;
}

.gameing-desgin{
  background-image: url(/public/assets/images/2d3dgame-photoshop.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: bottom;
  position: relative;
  z-index: -90;
}

.carrer-bg{
  background-image: url(/public/assets/images/carrer-bg-photoshop.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: top;
  position: relative;
  z-index: -90;
}

.contact{
  background-image: url(/public/assets/images/appdeveopement.png);
  background-size: cover;
  padding: 100px;
  margin-top: -130px;
  background-position: top;
  position: relative;
  z-index: -90;
}